.me{
	width: 160px;
}

.custom_header{
	width: 320px;
	margin: 0 auto;
}

.textcenter{
	text-align: center;
}

.center{
	width: 50%;
	margin: 0 auto;
}

.icon{
	width: 24px;
}

.marginauto{
	margin: auto;
}

.fontbold{
	font-weight: bold;
}

.right{
	float: right;
}

.details{
	display: none;
}

.active .details{
	display: block;
}

.active{
	color: #000;
}

.cursorpointer{
	cursor: pointer;
}

.activelink{
	font-weight: bold;
}

.headline:hover{
	color: #000;
}
