.me{
	width: 140px;
}

.custom_header{
	width: auto;
}

.center{
	text-align: center;
}

.icon{
	width: 24px;
}

.marginauto{
	margin: auto;
}

.fontbold{
	font-weight: bold;
}

.right{
	float: right;
}

.details{
	display: none;
}

.active .details{
	display: block;
}

.active{
	background-color: #eee;
}

.cursorpointer{
	cursor: pointer;
}
