<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    {% seo title=false %}
    <title>Resume of Nándor Kiss</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' }}">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    {% assign url = +page.url | replace: '.html', '' %}
    <div class="wrapper">
      <header class="custom_header">
        <div class="center">
          <img class="me" src="{{ '/assets/img/me.jpg' }}" />
          <p class="textcenter marginauto fontbold">Software Developer</p>
          <p class="textcenter">Budapest, Hungary</p>
        </div>
        <p class="view textcenter">
          <a href="mailto:{{ site.email }}">
            <img class="icon" src="{{ '/assets/img/email.png' }}" />
          </a>
          <a href="{{ site.github.owner_url }}">
            <img class="icon" src="{{ '/assets/img/github.png' }}" />
          </a>
          <a href="{{ site.linkedin_profile }}">
            <img class="icon" src="{{ '/assets/img/linkedin.png' }}" />
          </a>
        </p>
        <div class="center">
          {% for section in site.sections %}
            {% assign active_class = "" %}
            {% if section.link == url %}
              {% assign active_class = "activelink" %}
            {% endif %}
	    <p class="marginauto"><a class="sectionlink {{ active_class }}" href="{{ section.link }}">{{ section.name }}</a></p>
	  {% endfor %}
        </div>
      </header>
      <section>
      {% for section in site.sections %}
          {% if section.link == url %}
	  <h1>{{ section.name }}</h1>
          {% endif %}
      {% endfor %}

      {{ content }}

      </section>
      <footer>
        <p class="center marginauto"><small>Hosted on GitHub Pages</small></p>
        <p class="center"><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
  <script src="{{ '/assets/js/custom.js' }}"></script>
</html>
